/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./container.css');

/* Sections style */

body {
  background-color: #1c1d20;
  color: white;
}


.hidden {
  display: none;
}

.title-section {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.reviews-list {
  gap: 16px;
  margin-bottom: 32px;
}
.can-see-reviews {
  width: 100%;
}
.review-card {
  max-width: 296px;
  min-height: 238px;
  padding: 32px 24px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 20px;
  padding: 32px 24px;
}
.review-card img {
  border-radius: 10px;
  width: 48px;
  height: 48px;
  margin-bottom: 32px;
}
/* .review-info {
  min-width: 284px; 
} */
.review-info h3 {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-bottom: 8px;
}
.review-info p {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}
.reviews-buttons-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reviews-buttons-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
}
.reviews-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(250, 250, 250, 0.5);
  color: rgba(250, 250, 250, 0.5);
  background-color: #1c1d20;
  border-radius: 60px;
  /* padding: 18px; */
  width: 68px;
  height: 68px;
  cursor: pointer;
}
.reviews-button:hover {
  background-color: #242528;
}
.swiper-button-prev[disabled], .swiper-button-next[disabled] {
  outline: 1px solid rgba(250, 250, 250, 0.2);
  color: rgba(250, 250, 250, 0.2);
  cursor: not-allowed;
}